body {
  background-color:#15183D;
  margin: 0;
  font-family: Comfortaa;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: grid;
  grid-template-columns: 60% 40%;
  margin: auto 20px;
  max-width: 1820px;
  padding: 142px 0 82px 0;
}
